#chart {
    border: 2px solid black; /* Define border width and color */
    background-color: white;
}


#heatmap {
    border: 2px solid black; /* Define border width and color */
}

#svg-container {
    width: 800px; /* Set width as needed */
    height: 600px; /* Set height as needed */
    overflow: scroll; /* or overflow: scroll; */
  }
  .container {
    width: 100%; /* Ensures the container spans the full width of its parent */
}

.box {
    width: 50%; /* Each box takes up 50% of the container width */
    float: left; /* Floats the boxes to the left */
    box-sizing: border-box; /* Includes padding and border in the width and height */
}

.container::after {
    content: "";
    display: table;
    clear: both;
}

.tooltip {
    position: absolute;
    background-color: #fff;
        border: 2px solid #797979;
        border-radius: 5px;
        box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
        padding: 10px;
        font-size: 20px;
  }


  .fixed-bottom-right {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 9999; /* Ensures it's above other content */
    /* Optionally, you can add styles for background, padding, etc. */
    background-color: #ffffff;
    padding: 10px;
}